@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* -------------------------------------Home Page Header-------------------------------- */

.header {
    position: sticky;
    top: 0; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    background-color: #f5ffc6;
    color: blue;
    margin: 0; 
    border: solid 0.125rem black;
    box-shadow: 0.125rem 0.625rem 0.625rem rgb(0, 0, 0);
    flex-wrap: wrap; 
}

.logo {
    margin-right: 1.25rem; 
}

.logo a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
    color: #00bcd4;
    flex-shrink: 0;
}

.logo a:hover {
    color: #5ba0aa;
    transform: scale(1.0075);
}

.search-bar {
    padding: 0.3125rem;
    border-radius: 1.875rem;
    font-size: 1rem;
    text-indent: 0.9375rem;
    width: 100%; 
    max-width: 250px; 
    height: 2rem;
    margin-left: 0;
    flex-grow: 1;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 0.3125rem #00bcd4;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    flex-grow: 1;
}

.navbar {
    display: flex;
    gap: 2.5rem;
    flex-grow: 1; 
    justify-content: flex-end;
    box-sizing: border-box; /* Ensures padding doesn't affect overall size */
    transition: background-color 0.3s ease; /* Optional: Smooth hover effect */
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
    border: 2px dashed transparent;
    border-radius: 20px;
    padding: 10px; /* Padding for space inside the border */
    box-sizing: border-box; /* Ensures padding doesn't affect overall size */
    transition: background-color 0.3s ease; /* Optional: Smooth hover effect */
}

.navbar a:hover {
    border: 2px dashed #000000;
    background-color: #dcee95;
}

.github {
    margin-left: 1.25rem;
    align-items: center;
    flex-shrink: 0; 
}

.github button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
}

.github button:hover {
    color: #00bcd4;
}

/* -------------------------------------Masonry layout-----------------------------------------*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusts to fit 4 items per row */
    grid-auto-rows: 10px; /* Dynamic height rows */
    gap: 30px;
    margin-top: 3rem;
    padding: 0 2rem;
}

.box {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 20px;
    box-sizing: border-box;
    border: solid 0.125rem black;
    border-radius: 20px;
    box-shadow: 0.125rem 0.625rem 0.625rem rgb(0, 0, 0); 
    background-color: #ff6f61; 
    transition: transform 0.3s;
    font-size: 1.2em;
    color: #fff;
    grid-row: span 10; 
}

/* -------------------------------------Masonry layout-----------------------------------------*/

.box:hover {
    transform: translateY(-10px);
}

.box h1 {
    font-size: 1.875rem; 
    margin-bottom: 1rem; 
    color: #0918a4;
    text-align: left;
    width: 100%;
}
.box h2 {
    padding: 1rem;
    border-radius: 20px;
}

.box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.box ul li {
    margin-bottom: 0.625rem; 
}

.box ul li a {
    padding-left: 1rem;
    text-decoration: none;
    color: #000000;
    font-size: 1rem; 
    font-weight: bold;
    display: block;
}

.box ul li a:hover {
    color: #0056b3;
    background-color: #00bcd4;
    border-radius: 5px; 
}

 /* ---------------------Specific dimensions and colors for each item ----------------------------*/

 /* -------------Javascript----------------*/
.box1 { grid-row: span 10; background-color: #8174A0; }
.box2 { grid-row: span 11; background-color: #89A8B2; }
.box3 { grid-row: span 9; background-color: #DEAA79; }
.box4 { grid-row: span 7; background-color: #A6AEBF; }
.box5 { grid-row: span 22; background-color: #CB9DF0; }
.box6 { grid-row: span 9; background-color: #C6E7FF; }
.box7 { grid-row: span 12; background-color: #FFB38E; }
.box8 { grid-row: span 11; background-color: #FFF6E3; }
.box9 { grid-row: span 11; background-color: #FFB26F; }
.box10 { grid-row: span 6; background-color: #789DBC; }
.box11 { grid-row: span 20; background-color: #ECDFCC; }
.box12 { grid-row: span 12; background-color: #E5D9F2; }
.box13 { grid-row: span 8; background-color: #FADFA1; }
.box14 { grid-row: span 12; background-color: #FF8A8A; }
 /* -------------Python----------------*/
.box15 { grid-row: span 11; background-color: #C0C78C; }
.box16 { grid-row: span 49; background-color: #F0DBAF; }
.box17 { grid-row: span 13; background-color: #8E7AB5; }
.box18 { grid-row: span 8; background-color: #7EACB5; }
.box19 { grid-row: span 16; background-color: #E6D9A2; }
.box20 { grid-row: span 12; background-color: #A6B37D; }
.box21 { grid-row: span 10; background-color: #86AB89; }
.box22 { grid-row: span 7; background-color: #CBE2B5; }
.box23 { grid-row: span 14; background-color: #F8EDE3; }
.box24 { grid-row: span 7; background-color: #F6EACB; }
.box25 { grid-row: span 18; background-color: #F1D3CE; }
.box26 { grid-row: span 13; background-color: #739072; }
.box27 { grid-row: span 7; background-color: #D0BFFF; }
.box28 { grid-row: span 6; background-color: #A0937D; }
.box29 { grid-row: span 7; background-color: #BB9AB1; }
.box30 { grid-row: span 9; background-color: #91DDCF; }
.box31 { grid-row: span 6; background-color: #ACE1AF; }
.box32 { grid-row: span 8; background-color: #D0E8C5; }
.box33 { grid-row: span 6; background-color: #DBA979; }
.box34 { grid-row: span 6; background-color: #FCFFE0; }
.box35 { grid-row: span 6; background-color: #A79277; }
.box36 { grid-row: span 5; background-color: #BED7DC; }
.box37 { grid-row: span 6; background-color: #F6F193; }
.box38 { grid-row: span 7; background-color: #F2C18D; }
 /* -------------Git------------------*/
 .box39 { grid-row: span 8; background-color: #E0E5B6; }
 .box40 { grid-row: span 13; background-color: #D1BB9E; }
 .box41 { grid-row: span 7; background-color: #F2C18D; }
 .box42 { grid-row: span 6; background-color: #C5EBAA; }
 .box43 { grid-row: span 7; background-color: #EADBC8; }
 .box44 { grid-row: span 6; background-color: #EEC759; }
 /* -------------Java------------------*/
 .box45 { grid-row: span 10; background-color: #EFB6C8; }
 .box46 { grid-row: span 11; background-color: #B3C8CF; }
 .box47 { grid-row: span 23; background-color: #E5E1DA; }
 .box48 { grid-row: span 8; background-color: #B0EBB4; }
 .box49 { grid-row: span 9; background-color: #FFE6A9; }
 .box50 { grid-row: span 11; background-color: #C6E7FF; }
 .box51 { grid-row: span 13; background-color: #FDDBBB; }
 .box52 { grid-row: span 10; background-color: #B5C18E; }
 .box53 { grid-row: span 10; background-color: #E4C087; }
 .box54 { grid-row: span 6; background-color: #FFB26F; }
 .box55 { grid-row: span 9; background-color: #A5B68D; }
 .box56 { grid-row: span 6; background-color: #C96868; }
 .box57 { grid-row: span 7; background-color: #FEF9D9; }
 .box58 { grid-row: span 27; background-color: #A6B37D; }
 .box59 { grid-row: span 8; background-color: #FF8A8A; }
 .box60 { grid-row: span 8; background-color: #DFD3C3; }
 .box61 { grid-row: span 21; background-color: #C9DABF; }
 .box62 { grid-row: span 6; background-color: #B1AFFF; }
 /* ----------------C-----------------*/
 .box63 { grid-row: span 13; background-color: #F1F0E8; }
 .box64 { grid-row: span 8; background-color: #CB9DF0; }
 .box65 { grid-row: span 11; background-color: #F0C1E1; }
 .box66 { grid-row: span 6; background-color: #C5D3E8; }
 .box67 { grid-row: span 6; background-color: #A6B37D; }
 .box68 { grid-row: span 8; background-color: #FFF6E3; }
 .box69 { grid-row: span 6; background-color: #789DBC; }
 .box70 { grid-row: span 5; background-color: #E7CCCC; }
 .box71 { grid-row: span 5; background-color: #D2E0FB; }
 .box72 { grid-row: span 7; background-color: #8967B3; }
 .box73 { grid-row: span 8; background-color: #A1D6B2; }
 .box74 { grid-row: span 5; background-color: #CEDF9F; }
 /* --------------SQL---------------*/
 .box75 { grid-row: span 6; background-color: #E3CAA5; }
 .box76 { grid-row: span 7; background-color: #D18CE0; }
 .box77 { grid-row: span 9; background-color: #F3E9DD; }
 .box78 { grid-row: span 12; background-color: #CEDF9F; }
 .box79 { grid-row: span 8; background-color: #8FBDD3; }
 .box80 { grid-row: span 8; background-color: #F9EBC8; }
 .box81 { grid-row: span 5; background-color: #9A86A4; }
 .box82 { grid-row: span 6; background-color: #C4DFAA; }
 .box83 { grid-row: span 9; background-color: #CDC2AE; }
 .box84 { grid-row: span 8; background-color: #CBA0AE; }
 .box85 { grid-row: span 8; background-color: #554994; }
 .box86 { grid-row: span 7; background-color: #FF9494; }
 .box87 { grid-row: span 4; background-color: #967E76; }
 .box88 { grid-row: span 7; background-color: #FAF4B7; }
 /* --------------HTML---------------*/
 .box89 { grid-row: span 10; background-color: #A59D84; }
 .box90 { grid-row: span 26; background-color: #8174A0; }
 .box91 { grid-row: span 12; background-color: #89A8B2; }
 .box92 { grid-row: span 4; background-color: #DEAA79; }
 .box93 { grid-row: span 9; background-color: #A6AEBF; }
 .box94 { grid-row: span 7; background-color: #CB9DF0; }
 .box95 { grid-row: span 6; background-color: #C6E7FF; }
 .box96 { grid-row: span 9; background-color: #BFECFF; }
 .box97 { grid-row: span 11; background-color: #E4E0E1; }
 .box98 { grid-row: span 14; background-color: #789DBC; }
 .box99 { grid-row: span 6; background-color: #A2D2DF; }
 .box100 { grid-row: span 7; background-color: #FFB38E; }
 .box101 { grid-row: span 7; background-color: #E7CCCC; }
 .box102 { grid-row: span 7; background-color: #EDDFE0; }
 .box103 { grid-row: span 6; background-color: #FFECC8; }
 .box104 { grid-row: span 5; background-color: #A5B68D; }
 /* -------------Markdown---------------*/
 .box105 { grid-row: span 6; background-color: #B9F3FC; }
 .box106 { grid-row: span 5; background-color: #D9ACF5; }
 .box107 { grid-row: span 5; background-color: #FFCEFE; }
 .box108 { grid-row: span 6; background-color: #EDDBC7; }
 .box109 { grid-row: span 7; background-color: #DFFFD8; }
 .box110 { grid-row: span 6; background-color: #C9F4AA; }
 .box111 { grid-row: span 6; background-color: #DFA67B; }
 .box112 { grid-row: span 5; background-color: #94AF9F; }
 .box113 { grid-row: span 8; background-color: #D5B4B4; }
 .box114 { grid-row: span 5; background-color: #FDF7C3; }
 .box115 { grid-row: span 5; background-color: #FFB4B4; }
 .box116 { grid-row: span 5; background-color: #DDFFBB; }
 .box117 { grid-row: span 7; background-color: #B7B7B7; }
 .box118 { grid-row: span 5; background-color: #CBB279; }
 .box119 { grid-row: span 5; background-color: #E1ECC8; }
 .box120 { grid-row: span 6; background-color: #FFD89C; }
 .box121 { grid-row: span 10; background-color: #D0BFFF; }
 .box122 { grid-row: span 5; background-color: #ECEE81; }
 .box123 { grid-row: span 5; background-color: #FF8080; }
 /* -----------------------------------------*/

