@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}

html {
    scroll-behavior: smooth;
}

#categories {
    scroll-margin-top: 10rem;
}

/* -------------------------------------Home Page Header-------------------------------- */

.header {
    position: sticky;
    top: 0; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    background-color: #f5ffc6;
    color: blue;
    margin: 0; 
    border-radius: 20px; 
    border: solid 0.125rem black;
    box-shadow: 0.125rem 0.625rem 0.625rem rgb(0, 0, 0);
    flex-wrap: wrap; 
}

.logo {
    margin-right: 1.25rem; 
}

.logo a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
    color: #00bcd4;
    flex-shrink: 0;
}

.logo a:hover {
    color: #5ba0aa;
    transform: scale(1.0075);
}

.search-bar {
    padding: 0.3125rem;
    border-radius: 1.875rem;
    font-size: 1rem;
    text-indent: 0.9375rem;
    width: 100%; 
    max-width: 250px; 
    height: 2rem;
    margin-left: 0;
    flex-grow: 1;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 0.3125rem #00bcd4;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    flex-grow: 1;
}

.navbar {
    display: flex;
    gap: 2.5rem;
    flex-grow: 1; 
    justify-content: flex-end;
    box-sizing: border-box; 
    transition: background-color 0.3s ease; 
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
    border: 2px dashed transparent;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box; 
    transition: background-color 0.3s ease; 
}

.navbar a:hover {
    border: 2px dashed #000000;
    background-color: #dcee95;
}

.github {
    margin-left: 1.25rem;
    align-items: center;
    flex-shrink: 0; 
}

.github button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
}

.github button:hover {
    color: #00bcd4;
}

/* ---------------------------------------Hero Page Styles------------------------------------------------*/

.hero {
    background-color: #E5E1DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    height: 70vh;
    width: 95%;
    padding: 2rem;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 0.125rem 0.625rem 0.625rem rgb(0, 0, 0);
}

.hero img {
    height: 100px;
}

.logo {
    display: flex;
    gap: 2rem;
}

.hero h1 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero p {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.features {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid;
    border-radius: 10px;
    text-align: left;
    width: 250px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.feature:hover {
    transform: translateY(-10px);
    background-color: rgb(149, 239, 251); 
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.75); 
    background-color: rgb(230, 247, 255); 
}

.feature h3 {
    font-size: 2rem;
    margin-top: 0;
    color: #6c63ff;
}
.feature p {
    font-size: 1.25rem;
}

/* -----------------------------------Home Page Categories Styles-------------------------------------------*/


.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 2.5rem; 
    justify-content: flex-start; /* Align items to the left */
    padding: 0 2rem; 
    max-width: 1200px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container */
}

.box {
    position: relative; /* Set position to relative for the overlay */
    height: 200px;
    width: 200px;
    border: 2px solid black; 
    border-radius: 20px; 
    box-shadow: 0.125rem 0.625rem 0.625rem rgb(0, 0, 0); 
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 1.5rem;
    flex: 0 0 auto; /* Prevent the box from growing or shrinking */
}

.box:hover {
    transform: translateY(-10px);
    background-color: #b3b3b3eb;
}

.box img {
    height: 150px; 
    max-width: 100%; 
    object-fit: contain; 
}

/* -----------------------------------Categories Divider-------------------------------------------*/

.divider {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 100%; 
}

.divider .text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 20px; 
    white-space: nowrap; /* Prevent text from wrapping */
}

hr {
    flex-grow: 1; /* Make the line grow to fill the remaining space */
    height: 2px; /* Line thickness */
    background: #333; /* Line color */
    border: none; /* Remove default border styling */
    margin: 0; /* Remove default margins */
}